body {
  text-align: center;
  background-image: url('https://i.imgur.com/4lbhbKO.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} 

#nav {
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color:black;
  height:38px;
  border: 2px solid  #FFFF00;
}

#nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 100%;
}

#nav li {
  margin: 0px;
  display:
}

#nav li a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
  float: right;
}

#nav li a:hover {
  color: #FFFF00;
  /* background-color: #35af3b; */
}

main {
  display: flex;
  justify-content: center; 
  margin-top: 0px;
 }

ul {
  list-style-type: none;
  padding: 0px;
}

ol {
  list-style-type: none;
  padding: 0px;
}

.hero-id {
  display: flex;
  flex-direction: column;
  margin: 10px 10% 20% 10%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."
    ".";
  max-width: 720px;
  color: white;
}


.c-imgDiv{
  display: grid;
  justify-content: center;
  background: black;
  border-top: 8px solid  #FFFF00;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline:none;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
}

.c-img {
  grid-row-start: 1;
  height: 300px;
  width: 200px;
  display: grid;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  border: 5px solid black;
  border-radius: 200px;
  border-color:black;
  box-shadow:0 0 4px #FFFF00;
}


.c-appearance {
  grid-row-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-transform: capitalize;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00; 
  position: relative;
  padding: 30px 30px 10px 30px;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
}
#appearance-id {
   position: absolute;
   top: 10px;
   margin: 5px 40% 0px 35%;
   color: #FFFF00;
}

.c-appearance ul {
  padding-top: 40px;
  text-align: left;
}
.c-appearance ol {
  padding-top: 40px;
  text-align: right;
}

.c-biography{
  grid-row-start: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-transform: capitalize;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00;
  position: relative;
  padding: 30px 30px 10px 30px;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
}

#biography-id {
  position: absolute;
  top: 10px;
  margin: 5px 40% 0px 36%;
  color: #FFFF00;
}

.c-biography ul {
 padding-top: 40px;
 text-align: left;
}

.c-biography ol {
  padding-top: 40px;
  text-align: right;
}

.c-powerstats {
  grid-row-start: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-transform: capitalize;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00;
  position: relative;
  padding: 30px 30px 10px 30px;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
}

#powerstats-id {
  position: absolute;
  top: 10px;
  margin: 5px 40% 0px 36%;
  color:#FFFF00;
}

.c-powerstats ul {
 padding-top: 40px;
}

.c-powerstats ol {
 padding-top: 40px;
 text-align: right;
}

.c-work {
  grid-row-start: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-transform: capitalize;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00;
  position: relative;
  padding: 30px 30px 10px 30px;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
}

#work-id {
  position: absolute;
  top: 10px;
  margin: 5px 40% 0px 40%;
  color: #FFFF00;
}

.c-work ul {
 padding-top: 40px;
}

.c-work ol {
 padding-top: 40px;
 text-align: right;
}

.c-connections {
  grid-row-start: 6;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color:black;
  text-transform: capitalize;
  border-right: 8px solid  #FFFF00;
  border-left: 8px solid  #FFFF00;
  position: relative;
  padding: 30px 0px 10px;
  border-bottom: 8px solid  #FFFF00;
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color:#FFFF00;
  box-shadow: 20px 20px 10px #FFFF00;
  box-shadow: 10px 10px 20px 10px #FFFF00;
      -moz-box-shadow: 10px 10px 20px 10px #FFFF00;
      -webkit-box-shadow: 10px 10px 20px 10px #FFFF00;
      -khtml-box-shadow: 10px 10px 20px 10px #FFFF00;
  margin-bottom: 10%;
}

#connections-id {
  position: absolute;
  top: 10px;
  margin: 5px 40% 0px 36%;
  color: #FFFF00;
}

.c-connections ul {
 padding-top: 40px;
 text-align: left;
 margin-left: 5%;
}

.c-connections ol {
  padding-top: 40px;
  text-align: right;
  margin-left: 10%;
  /* margin-bottom: 30%; */
}

.addteam-Btn {
  height: 33px;
  align-self: end;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #FFFF00;
  border-radius: 1%;
  /* margin-top: 50%;
  margin-right: 50%; */
  border-radius: 10px;
}

button img {
  height: 15px;
  min-width: 56px;
}

h1 {
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 10%; 
  text-shadow: 1px 1px 2px  white, 0 0 25px  #FFFF00, 0 0 5px  #FFFF00;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color:  #FFFF00;
	font-size: 25px;
  font-family: 'Playfair Display', serif;
}

  #input-name {
  height: 28px;
  width: 400px;
  background-color: white;
  margin-right: 3px;
  font-size: 14px;
  border-radius: 10px;
  text-transform: capitalize;
 }

 #input-name:focus {
  outline:none;
  border-color: #FFFF00;
  box-shadow:0 0 10px #FFFF00;
 }

button {
  height: 33px;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #FFFF00;
  border-radius: 1%;
  margin-left: 15px;
  border-radius: 10px;
  min-width: 56px;
}

button:focus {
outline:none;
border-color:#FFFF00;
box-shadow:0 0 10px #FFFF00;
}

.search-bar {
  height: 200px;
  width: 700px;
  background: black;
  padding: 5px;
  padding-bottom: 6px;
  border-radius: 10px;
  border: 3px solid  #FFFF00;
  margin-top: 5%;
  transition: all 2s;
  text-align: center;
  color: white;
}





@media screen and (max-width: 500px) {
  h1 {
    font-size: 36px;
    text-align: center;
    }
  .search-bar {
    width: 90vw;
  } 
  #input-name {
    width: 90%;
  } 
}

